.blackpink {
    border: solid rgb(230, 84, 11) 3px;
} 
.bottom {
    background-color:mediumslateblue;
}
.contact {
    background-color: rgb(187, 228, 8);
}
.header{
    background-color: rgb(246, 246, 246);
}
.middle{
    background-color: rgb(228, 86, 133);
}
.profile {
    border-radius: 50%;
}

body {
    margin: 0;
}
h3 {
    margin-top: 0;
}
hr {
    /* background-color: white; */
    border-style: dotted none none;
    /* height: 0; */
    width: 30%;
    border-color: grey;
    border-width:5px;
    margin-bottom: 0;
}
